.hidden {
 opacity: 0;
 transition: opacity 1s ease-in-out;
}
#loading-image{
 transform: scale(.8);
 position: absolute;
 bottom:auto;
 right: 1vw;

}
 
body{
 height: 100vh;
 background: linear-gradient(0deg, rgb(255, 96, 54), rgb(253, 210, 38)) no-repeat;
}

@media (max-width: 768px) {
#loading-image{
top: 25vh;
right: 1vw;

}
 
}