.hidden {
 opacity: 0;
 transition: opacity 1s ease-in-out;
}
#loading-image{
 transform: scale(.8);
 position: absolute;
 bottom:auto;
 right: 1vw;

}
 /* Add this CSS to your existing styles or create a new CSS file */

/* CSS */
/* CSS */
.carousel-item img {
 max-width: 75%; /* Set the maximum width of the images within the carousel */
 max-height: 90vh; /* Set the maximum height of the images */
 width: auto; /* Allow the images to scale with the defined maximum width */
 height: auto; /* Allow the images to scale with the defined maximum height */
 margin: 0 auto; /* Center the images horizontally */
}


body{
 height: 100vh;
 background: linear-gradient(0deg, rgb(255, 96, 54), rgb(253, 210, 38)) no-repeat;
}
.mobile-content {
 display: none; /* Initially hide the mobile content */
}
@media (max-width: 767px) {
#loading-image{
top: 25vh;
right: 1vw;

}
.page-content {
 display: none; /* Hide the .page-content */
}

.mobile-content {
 display: block; /* Display the mobile content */
 /* Other styles for the mobile content */
}
body{
 margin: auto;
}
.carousel-item img {
 /* Set the maximum width of the images within the carousel */
 max-height: 90vh; /* Set the maximum height of the images */
 width: auto; /* Allow the images to scale with the defined maximum width */
 height: auto; /* Allow the images to scale with the defined maximum height */
 margin: 0 auto; /* Center the images horizontally */
}
.carousel-inner {
 position: relative;
 top: 25px;
 left: 50px;
 width: 100%;
 overflow: hidden;
}

}