body{
 
  background: linear-gradient(0deg, rgb(255, 96, 54), rgb(253, 210, 38)) no-repeat;
height: 100vh;
}
.container{
 /* position: fixed;

 top: auto; */
 position: absolute;
 bottom: -22vh;
 left: 15vw;
 transform: scale(.7);
}
@media (max-width: 769px) {
.container {

 bottom: 51vh;
 left: 11vw;
 transform: scale(1.1);
 

}
}