.navbar {
 background-color: rgba(66, 64, 64, 0.342); /* Semi-transparent black background */
 backdrop-filter: blur(10px); /* Apply the blur effect */
}
body{
 background-image: url("/login/Group\ 1.png");
 background-size:100%;
 background-repeat: no-repeat;
 position:relative;
 top: 10%;
 left: 0;

}