.navbar {
 background-color: rgba(66, 64, 64, 0.342); /* Semi-transparent black background */
 backdrop-filter: blur(10px); /* Apply the blur effect */
}
body{
 background-image: url("/login/Group\ 1.png") ;
 background-size:cover;
 }
#card-container {
 position: relative;
 width: 300px; /* Adjust as needed */
 height: 400px; /* Adjust as needed */
 overflow: hidden;
}

.card {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 margin: 0;
 border: 1px solid #ccc;
 border-radius: 5px;
 padding: 15px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
 transition: transform 0.3s ease-in-out;
}

.card-image img {
 width: 150px; /* Adjust as needed */
 height: 150px;
 border-radius: 5px;
 object-fit: cover;
 margin-bottom: 10px;
}

.card-info {
 text-align: left;
 padding: 10px;
}

.card:hover {
 transform: scale(1.1);
}
