
body{
 background-image: url("/home/Untitled-2.png");
 background-size:cover;
 background-repeat: no-repeat;
 position:fixed;
}
@media (max-width: 768px) {
  body {
    background-size: contain;
    /* Other styles for smaller screens */
  }
  
}
h1{
 color: #4FC27E;font-family: 'Manrope', sans-serif;
 text-align: center;
 position: relative;

 left: 30vw;
}
#hi{
 position: absolute;
  top: 40vh;
  left: 30vw;
  
}
#grp2{
 position:absolute;
 top:50vh;
 left: 16vw;
 transition: transform 0.3s ease-in-out;
z-index: 1;
width: 15vw ;
height:40vh;
}
#grp2:hover{
 transform: scale(1.1);
}


#dog{
  width: 100%;
  position: absolute;
  top: 40vh;
  left: 30vw;
  object-fit: cover;
 transition: transform 0.3s ease-in-out;

}
#dog:hover{
 transform:translate(10px,0px);

}

#emoji{ position: absolute;
  top: 30vh;
  left: 60vw;
 transition: transform 0.3s ease-in-out;
  z-index: -1;
}
#emoji:hover{
 transform: rotate(5deg);

}
.vertical-button {
 
  transform: rotate(-90deg);
  width: 150px; 
  height: 50px; 
  padding: 10px;
 position: absolute;
 top: 55vh;
 left: 0vw;
  cursor: pointer;
}
#cute{
 position:absolute;
 top: 35vh;
 left:2vw;
 
}
#grp4{
  position:absolute;
 top: 70vh;
 left:60vw;
 transition: transform 0.3s ease-in-out;
 width:10vw ;
 height:15vh;
}
#grp4:hover{
 transform: scale(1.1);
}

@media (max-width: 769px) {
  #dog{
    top: 50vh;
  left: 30vw;
  }
#grp4{
 opacity: 0%;
}
h1{
  left: 0vw;
}
#emoji{
  opacity: 50%;
  top: 10%;
}
#hi{
 
   top: 50vh;
   
   
 }
  #cute{
 opacity: 0%;
   
  }
  #grp2{
    opacity: 0%;
  }
  #doctor{
    opacity: 0%;
  }
}